<div class="page-header">
  <h1>Inspecting Classifier</h1>
</div>

<p>Total Words: <%= @total_words %></p>

<% @categories.each do |category, words| %>
<hr/>
<h4><span class="label label-default"><%= category %></span></h4>
<p>
  <% words.each do |word, count| %>
  <span class="text-<%= @label_classes[category.to_s.split(/(\W)/).map(&:capitalize).join] %>" style="font-size:<%= 0.5 + 3.0 * count / @max_counts[category] %>em; padding: 2px"><%= word %></span>
  <% end %>
</p>
<% end %>
<hr/>
